modules = ["python-3.11"]
run = "start"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Hash Analyzer"

[[workflows.workflow]]
name = "Hash Analyzer"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python hash_analyzer.py --hash-list \"experthead:e10adc3949ba59abbe56e057f20f883e,interestec:25f9e794323b453885f5181f1b624d0b\" --crack --wordlist wordlists/common.txt"

[deployment]
run = ["sh", "-c", "start"]
